@font-face {
	font-family: 'Hey Comic';
	src: url(Fonts/Hey\ Comic.ttf) format(truetype);
	font-weight: normal;
	font-style: normal;
}

* {
	margin: 0;
	padding: 0;
	font-family: 'Hey Comic';
	box-sizing: border-box;
}